templateBBOBmany.aux
templateBBOBmany.synctex.gz
templateBBOBmany.pdf
templateBBOBmany.out
templateBBOBmany.log
templateBBOBmany.blg
templateBBOBmany.bbl
templateBBOBmany.synctex(busy)
ppdata4/
SHADE-LM/
SHADE-LM-POP4-to-10/
